@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
/****BlueSky - Reasearch Team ***REVISÃO = 15/02/2024***
	
	.cinzel.tito{
		font-family: "Cinzel", serif;
		font-optical-sizing: auto;
		font-weight: weight 400;
		font-style: bold;
	}

/*********************************************************************************************/
/****Formato CSS: Estilo_Blue.css - INDEX.html - Nazaré do Piauí / PI */
	
	/*** Formatando BODY ***/
	body{
		background-color: rgb(196, 209, 225);
		max-width: 1990px;
		min-width: 360px;
		margin: 0 auto;
		padding: 0;		
	}
		