     @import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');
     /**.lavishly-yours-regular {
          font-family: "Lavishly Yours", serif;
          font-weight: 400;
          font-style: normal; } */

     @import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
     /**.poiret-one-regular {
          font-family: "Poiret One", serif;
          font-weight: 400;
          font-style: normal; } ***/

     @import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Poiret+One&display=swap');
     /**.monsieur-la-doulaise-regular {
          font-family: "Monsieur La Doulaise", serif;
          font-weight: 400;
          font-style: normal; } */
    
     


/**************************************************************************************
***** PÁGINA: INDEX.html *************************************************************
**************************************************************************************/

     /***      Formatando os item do BODY            */
     a { text-decoration: none;} 
     ul li { list-style: none; padding: 0; margin: 0; display: inline;}
     body{
          max-width: 1990px;
          margin: 0 auto;
          padding: 0;
          flex-wrap: wrap;
          min-width: 360px;
          background-color: rgb(22, 22, 22);
     }

     /***HEADER***********************************/
     /***      Formatando o SLOGAN DO SITE - Header         */    
     .nome-site{  
          color: #FBD36F; font-size: 2rem;
          background-image: url("../Objetos/teste2.jpg");
          background-clip: content-box;
          background-size: 50% 100%;
          
     }
     .nome-site h1{ word-break: keep-all; text-shadow: 2px 8px 16px #262525; }
     .efeito1{
          font-family: "Monsieur La Doulaise", serif; font-size: 14rem; color: #FDEA93;
          font-weight: 200; text-shadow: 2px 8px 56px #FDEA93, 4px 16px 32px #fff;
     }
     .efeito2{
           font-weight: 500; font-family: "Lavishly Yours", serif; font-size: 5rem;          
     }

     /***      Formatando o menu - Header         */       
     .menu{
          background: linear-gradient(-45deg, #FBD36F 0%,#E5E1BD 25%, #FBD36F 50%, #AA8830 100%);
          padding: 10px; animation: gradiente 6s ease infinite alternate;
          background-size: 200% 200%; 
     }
     .menu input, .menu button{ background-color: #262525; color: #FBD36F; padding: 12px; 
          font-size: 1.5rem; font-family: "Poiret One", serif; border: dashed 4px #262525;
          font-weight: 700; margin: 2px;
      }
     .menu input:hover, .menu button:hover{
          background-color: #FDEA93; color: #262525; border: inset 4px #262525;
     }
     .menu, .social, .especial{
          display: block; justify-items: center; min-width: 360px; text-align: center ;
     }
     .especial input{
          background: linear-gradient(-45deg, #FBD36F 0%,#E5E1BD 25%, #FBD36F 50%, #AA8830 100%);
          border-radius: 22%; font-family: "Lavishly Yours", serif; font-size: 50px;
          margin-bottom: 15%; box-shadow: 2px 18px 32px #FDEA93; border: inset 1px #262525;
          
     }
     .especial input:hover{
          box-shadow: 2px 18px 32px #FDEA93, 8px 24px 32px #FBD36F;
          border: solid 1px #262525; font-weight: 700;
     }

     /***      Formatando o menu de midias sociais do header          */
     .social a img{
          width: 100px; object-fit: cover; object-position: center;
          border: 4px solid #262525; border-radius: 12%;
     }
     .social img:hover{
          border: inset 4px #FDEA93;
     }
     /*** MAIN ***************************************/
     
     .linha-anuncio{
          height: 300px; max-width: 98%; border: groove 2px #f3df8e; margin: auto;
          background: linear-gradient(-45eg, #FBD36F 0%,#E5E1BD 25%, #FBD36F 50%, #E5E1BD 75% #AA8830 100%);
          flex-wrap: wrap; height: 300px; box-shadow: 12px 18px 22px #FDEA93;
          border: solid 1px #FBD36F;
          }
     main{
          display: flex; justify-content: center; flex-wrap: wrap;
          justify-items: center; align-items: center;
          text-align: center;
     }
     .box-img{
          background: linear-gradient(-45eg, #FBD36F 0%,#E5E1BD 25%, #FBD36F 50%, #E5E1BD 75% #AA8830 100%);
          width: 600px; margin: 2%; border-radius: 50%;
          box-shadow: 2px 18px 32px #FDEA93; border: solid 1px #262525;          
          
     }
     @keyframes gradiente {
          0%{
               background-position: 0% 50%;
          }
          50%{
               background-position: 100% 50%;
               background-repeat: repeat-x;
          }
          100%{
               background-position: 0% 50%;
          }
     }

     #box-img{
          width: 350px; height: 350px; border-radius: 22%; 
          object-fit: cover; object-position: center; padding: 5%;          
     }
     .box-title{
          background: linear-gradient(-45deg, #FBD36F 0%,#E5E1BD 25%, #FBD36F 50%, #AA8830 100%);
          padding: 2% 0% 2% 0%; word-break: break-all; background-size: 200%;
          border: 2px inset #FDEA93; animation: gradiente 6s ease infinite alternate;
     }
     .box-title:hover{
          text-decoration: underline; text-shadow: 2px 4px 8px #262525;
          border: 2px dashed #AA8830;
     }
     .box-img a{ color: #262525; font-family: "Poiret One", serif;
          font-weight: 400; font-size: 1.6rem;
     }
     /*** FOOTER  ***************************************/
    
     footer{
          font-family: "Poiret One", serif; 
          display: flex; justify-content: center; text-align: center;
          color: #262525; background: linear-gradient(-45deg, #FBD36F 0%,#E5E1BD 25%, #FBD36F 50%, #AA8830 100%);
          padding: 2% 0% 2% 0%; word-break: break-all; background-size: 200%;
          border: 2px inset #FDEA93; animation: gradiente 6s ease infinite alternate;
          margin-bottom: 5%; 
     }    
    


/**************************************************************************************
***** PÁGINA: BIOGRAFIA_ILUMINA.html *************************************************************
**************************************************************************************/
     .grade article{
          font-family: "Poiret One", serif; 
          font-size: 1.5rem;
     }

     .grade article p{
          margin: 6%; padding: 15px;
          background-color: #262525; 
     }

/**************************************************************************************
***** PÁGINA: CONTATOS.html *************************************************************
**************************************************************************************/
     .formulario{ width: 350px; font-family: "Poiret One", serif; line-height: 32px; margin: 2%;}
     .formulario input{
          width: 350px; height: 30px; margin: 2px; border: inset 4px #FDEA93; 
          border-radius: 22px; font-size: 1.2rem;
     }
     .formulario label{ font-size: 1.5rem; margin: 1.2rem; background-color: #262525; padding: 10px;}
     .formulario textarea{
          width: 300px; height: 300px; font-size: 1.2rem; border-radius: 22%; padding: 20px;
     }
/**************************************************************************************
***** PÁGINA: LOJA ONLINE *************************************************************
**************************************************************************************/

     .grade{
          display: flex; justify-content: center; align-items: center;
          min-width: 360px; color: #FDEA93; flex-wrap: wrap;
          background: linear-gradient(-45deg, #262525 0%,#FDEA93 25%, #262525 50%, #FDEA93 100%);
          background-size: 400%;
          animation: gradiente 9s ease infinite alternate;
     }
     .grade img{
          width: 300px; height: 300px;  border: dotted 10px #f3df8e;
          border-radius: 22%;
     }
     .grade img:hover{
          border: solid 10px #262525;
     }
     .grade figcaption h2{
          font-family: "Poiret One", serif; 
     }
     .titulo{
          font-weight: 500; font-family: "Lavishly Yours", serif; font-size: 5rem;          
          color: #FDEA93; box-shadow: 2px 18px 32px #FDEA93; border: inset 1px #f3df8e;
          padding: 2% 12% 2% 12%; text-align: center;
     }